/* CDD Editor will use a flexbox layout, favoring the graph display. */
/* See https://css-tricks.com/snippets/css/a-guide-to-flexbox/ for a nice intro */
.cdd-editor {
    display: flex;
    padding-inline: 0.5%;
    min-height: 300px;
    height: 87.5vh;
    max-height: 87.5vh; /* Leave a little room at bottom of screen to reveal instruction text */
    min-width: 300px;
}

.left {
    width: 64%; /* Not actually used. See paper definition in index.js */
    max-width: 64%;
}

.right {
    width: 34%;
    min-width: 34%;
    max-height: 100%;
}

.instructions {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding:0.5%;
}

body {
    background-color: #e2e9eb;
}

/* Mobile-specific (small screens) */
@media (max-width: 900px)
{
    .cdd-editor {
        flex-direction: column;
        padding-inline: 0%;
        height: 97vh;
        max-height: 97vh;
    }
    .left {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        min-height: 60%;
        height: 60%;
        max-height: 60%;
    }
    .right {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        height: 40%;
        max-height: 40%;
        min-height: 40%;
    }
}